.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.poster {
  margin-top: 10px;
}

.movie-title {
  font-size: 20px;
  font-weight: 700;
  color: #485FC7;
  margin-bottom: 20px;
}

.detail {
  font-size: 18px;
  font-weight: 600;
}

.button {
  float: right;
  width: 150px;
}

.icon {
  fill: #0055ff;
}
