.carousel-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.movie-title {
  background-color: #172b61;
  color: #f0f8ff;
  padding: 5px 20px;
  text-align: center;
  height: 20%;
  margin: 0;
}

.carousel-cell {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
